<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Contacts Details - ' + ${contact.firstName} + ' ' + ${contact.lastName}">Contacts Details</title>

    <link rel="stylesheet" href="https://the.missing.style/v0.2.0/missing.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <main>

        <header th:replace="~{commons :: header}"></header>
        <div th:replace="~{commons :: flash}"></div>


        <h1 th:text="${contact.firstName} + ' ' + ${contact.lastName}"></h1>

        <div>
            <div th:text="'Phone: ' + ${contact.phone}">Phone:</div>
            <div th:text="'Email: ' + ${contact.email}">Email:</div>
        </div>

        <p>
            <a th:href="@{/contacts/{contactId}/edit(contactId=${contact.id})}">Edit</a>
            <a th:href="@{/contacts}">Back</a>
        </p>
    </main>
</body>

</html>